<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css">
		<title>Account Panel</title>
	</head>
	<body class="bg-slate-100 font-mono text-zinc-500">
		<div class="m-auto my-8 max-w-7xl">
			<div class="c-main-area">
				<h3 class="text-2xl inline-flex items-center gap-1 text-zinc-500 hover:text-teal-600 cursor-default transition duration-500">
					<svg class="h-6 w-6" width="24" height="24" viewBox="0 0 24 24" fill="#000000"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <title>cloud_fill</title> <g id="页面-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Weather" transform="translate(-1.000000, -48.000000)"> <g id="cloud_fill" transform="translate(1.000000, 48.000000)"> <path d="M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z" id="MingCute" fill-rule="nonzero"> </path> <path d="M5.00053,10.4161 C5.04543,6.86494 7.93814,4 11.5,4 C14.2856,4 16.66,5.75154 17.5856,8.21198 C20.13,8.90766 22,11.2346 22,14 C22,17.3137 19.3137,20 16,20 L7,20 C4.23858,20 2,17.7614 2,15 C2,12.9486 3.23468,11.1875 5.00053,10.4161 Z" fill="currentColor"> </path> </g> </g> </g> </g></svg>
					<span class="font-medium">Account<b>Panel</b></span>
				</h3>
				<hr class="my-4" />
				<div>
					<div class="bg-white rounded-lg shadow-md">
						<!-- Tabs navigation -->
						<div class="flex bg-gray-200 flex-col md:flex-row">
							<button class="c-tab active">
								<svg class="w-6 h-6" fill="currentColor" viewBox="0 0 52 52" enable-background="new 0 0 52 52" xml:space="preserve"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <path d="M41.4,39.7l-0.9,0.9c-1,1-2.3,1.5-3.7,1.5h-2.6c-2.4,0-5-1.9-5-5.2v-2.5c0-2,0.9-3.2,1.4-3.9l10.8-11 c0.3-0.3,0.6-1,0.6-1.4V9.8C42,7.2,39.8,5,37.2,5H11.6C9,5,6.8,7.4,6.8,9.8H5.2C3.4,9.8,2,11.3,2,13.1s1.4,3.2,3.2,3.2h1.6v6.5H5.2 C3.4,22.8,2,24.2,2,26s1.4,3.2,3.2,3.2h1.6v6.5H5.2c-1.8,0-3.2,1.5-3.2,3.2c0,1.8,1.4,3.2,3.2,3.2h1.6c0,3.2,2.2,4.8,4.8,4.8H30h7.2 c2.6,0,4.8-2.2,4.8-4.8V40C42,39.5,41.8,39.4,41.4,39.7z M33.2,17.1c0,0.9-0.7,1.6-1.6,1.6h-16c-0.9,0-1.6-0.7-1.6-1.6v-1.6 c0-0.9,0.7-1.6,1.6-1.6h16c0.9,0,1.6,0.7,1.6,1.6V17.1z M26,36.5c0,0.9-0.7,1.6-1.6,1.6h-8.8c-0.9,0-1.6-0.7-1.6-1.6v-1.6 c0-0.9,0.7-1.6,1.6-1.6h8.8c0.9,0,1.6,0.7,1.6,1.6V36.5z M28.4,26.8c0,0.9-0.7,1.6-1.6,1.6H15.6c-0.9,0-1.6-0.7-1.6-1.6v-1.6 c0-0.9,0.7-1.6,1.6-1.6h11.2c0.9,0,1.6,0.7,1.6,1.6V26.8z"></path> <path d="M49.5,22.4l-1-1c-0.6-0.6-1.6-0.6-2.2,0L34.1,34C34,34,34,34.2,34,34.2v2.7c0,0.2,0,0.4,0.2,0.4h2.6 c0.1,0,0.2-0.1,0.3-0.1l12.3-12.4C50.2,24.1,50.2,23.1,49.5,22.4z"></path> </g></svg>
								Notes
							</button>
							<button class="c-tab">
								<svg class="w-6 h-6" viewBox="0 0 24 24" fill="currentColor"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <g> <path fill="none" d="M0 0h24v24H0z"></path> <path d="M4 3h16l2 4v13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.004L4 3zm9 11v-4h-2v4H8l4 4 4-4h-3zm6.764-7l-1-2H5.237l-1 2h15.527z"></path> </g> </g></svg>
								Backup Notes
							</button>
							<button class="c-tab">
								<svg class="w-6 h-6"viewBox="0 0 24 24" fill="none"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <path d="M20.1 9.2214C18.29 9.2214 17.55 7.9414 18.45 6.3714C18.97 5.4614 18.66 4.3014 17.75 3.7814L16.02 2.7914C15.23 2.3214 14.21 2.6014 13.74 3.3914L13.63 3.5814C12.73 5.1514 11.25 5.1514 10.34 3.5814L10.23 3.3914C9.78 2.6014 8.76 2.3214 7.97 2.7914L6.24 3.7814C5.33 4.3014 5.02 5.4714 5.54 6.3814C6.45 7.9414 5.71 9.2214 3.9 9.2214C2.86 9.2214 2 10.0714 2 11.1214V12.8814C2 13.9214 2.85 14.7814 3.9 14.7814C5.71 14.7814 6.45 16.0614 5.54 17.6314C5.02 18.5414 5.33 19.7014 6.24 20.2214L7.97 21.2114C8.76 21.6814 9.78 21.4014 10.25 20.6114L10.36 20.4214C11.26 18.8514 12.74 18.8514 13.65 20.4214L13.76 20.6114C14.23 21.4014 15.25 21.6814 16.04 21.2114L17.77 20.2214C18.68 19.7014 18.99 18.5314 18.47 17.6314C17.56 16.0614 18.3 14.7814 20.11 14.7814C21.15 14.7814 22.01 13.9314 22.01 12.8814V11.1214C22 10.0814 21.15 9.2214 20.1 9.2214ZM12 15.2514C10.21 15.2514 8.75 13.7914 8.75 12.0014C8.75 10.2114 10.21 8.7514 12 8.7514C13.79 8.7514 15.25 10.2114 15.25 12.0014C15.25 13.7914 13.79 15.2514 12 15.2514Z" fill="currentColor"></path> </g></svg>
								Setting
							</button>
						</div>
						<!-- Tab content -->
						<div class="py-3 md:px-6">
							<div class="c-tab-content active">
								<h2 class="flex items-center justify-center gap-1 text-xl border-2 border-dashed border-gray-400 p-1 my-4">
									<svg class="w-6 h-6" fill="currentColor" viewBox="0 0 52 52" enable-background="new 0 0 52 52" xml:space="preserve"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <path d="M41.4,39.7l-0.9,0.9c-1,1-2.3,1.5-3.7,1.5h-2.6c-2.4,0-5-1.9-5-5.2v-2.5c0-2,0.9-3.2,1.4-3.9l10.8-11 c0.3-0.3,0.6-1,0.6-1.4V9.8C42,7.2,39.8,5,37.2,5H11.6C9,5,6.8,7.4,6.8,9.8H5.2C3.4,9.8,2,11.3,2,13.1s1.4,3.2,3.2,3.2h1.6v6.5H5.2 C3.4,22.8,2,24.2,2,26s1.4,3.2,3.2,3.2h1.6v6.5H5.2c-1.8,0-3.2,1.5-3.2,3.2c0,1.8,1.4,3.2,3.2,3.2h1.6c0,3.2,2.2,4.8,4.8,4.8H30h7.2 c2.6,0,4.8-2.2,4.8-4.8V40C42,39.5,41.8,39.4,41.4,39.7z M33.2,17.1c0,0.9-0.7,1.6-1.6,1.6h-16c-0.9,0-1.6-0.7-1.6-1.6v-1.6 c0-0.9,0.7-1.6,1.6-1.6h16c0.9,0,1.6,0.7,1.6,1.6V17.1z M26,36.5c0,0.9-0.7,1.6-1.6,1.6h-8.8c-0.9,0-1.6-0.7-1.6-1.6v-1.6 c0-0.9,0.7-1.6,1.6-1.6h8.8c0.9,0,1.6,0.7,1.6,1.6V36.5z M28.4,26.8c0,0.9-0.7,1.6-1.6,1.6H15.6c-0.9,0-1.6-0.7-1.6-1.6v-1.6 c0-0.9,0.7-1.6,1.6-1.6h11.2c0.9,0,1.6,0.7,1.6,1.6V26.8z"></path> <path d="M49.5,22.4l-1-1c-0.6-0.6-1.6-0.6-2.2,0L34.1,34C34,34,34,34.2,34,34.2v2.7c0,0.2,0,0.4,0.2,0.4h2.6 c0.1,0,0.2-0.1,0.3-0.1l12.3-12.4C50.2,24.1,50.2,23.1,49.5,22.4z"></path> </g></svg>
									All notes your created
								</h2>
								<div class="overflow-y-auto border-2 border-solid border-gray-300 rounded">
									<table id="notes-tb" class="w-full table-auto bg-transparent text-center">
										<thead>
											<tr class="border-b-4 border-solid border-gray-400">
												<th class="px-4 py-2 text-base capitalize whitespace-nowrap">URL</th>
												<th class="px-4 py-2 text-base capitalize whitespace-nowrap">Last Updated</th>
												<th class="px-4 py-2 text-base capitalize whitespace-nowrap">Views</th>
												<th class="px-4 py-2 text-base capitalize whitespace-nowrap">Password</th>
												<th class="px-4 py-2 text-base capitalize whitespace-nowrap">Actions</th>
											</tr>
										</thead>
										<tbody>
										<% notes?.forEach((note, index)=>{ %>
											<tr class="<%= index % 2 === 0 ? 'bg-gray-200' : '' %>">
												<td class="p-2">
													<a class="c-a inline-flex items-center gap-1 underline" href="/<%= note.slug %>" target="_blank">
														<svg class="w-4 h-4" viewBox="0 0 24 24" fill="none"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <path d="M20.2929 9.70708C20.5789 9.99307 21.009 10.0786 21.3827 9.92385C21.7564 9.76907 22 9.40443 22 8.99997V2.99997C22 2.44768 21.5523 1.99997 21 1.99997H15C14.5955 1.99997 14.2309 2.24361 14.0761 2.61729C13.9213 2.99096 14.0069 3.42108 14.2929 3.70708L16.2322 5.64641L9.58574 12.2929C9.19522 12.6834 9.19522 13.3166 9.58574 13.7071L10.2928 14.4142C10.6834 14.8048 11.3165 14.8048 11.7071 14.4142L18.3536 7.76774L20.2929 9.70708Z" fill="currentColor"></path> <path d="M4.5 8.00006C4.5 7.72392 4.72386 7.50006 5 7.50006H10.0625C10.6148 7.50006 11.0625 7.05234 11.0625 6.50006V5.50006C11.0625 4.94777 10.6148 4.50006 10.0625 4.50006H5C3.067 4.50006 1.5 6.06706 1.5 8.00006V19.0001C1.5 20.9331 3.067 22.5001 5 22.5001H16C17.933 22.5001 19.5 20.9331 19.5 19.0001V13.9376C19.5 13.3853 19.0523 12.9376 18.5 12.9376H17.5C16.9477 12.9376 16.5 13.3853 16.5 13.9376V19.0001C16.5 19.2762 16.2761 19.5001 16 19.5001H5C4.72386 19.5001 4.5 19.2762 4.5 19.0001V8.00006Z" fill="currentColor"></path> </g></svg>
														<%= note.slug %>
													</a>
												</td>
												<td><%= note.lastUpdated %></td>
												<td><%= note.views %></td>
												<td><%= note.needPassword ? 'Yes' : 'No' %></td>
												<td class="p-2">
													<span class="c-btn-outline-sm" onclick="toggleModal('modal_password'); initEventPasswordModal('<%= note.id %>', <%= note.needPassword %>, 'modal_password')">
														<svg class="w-4 h-4" viewBox="0 0 24 24" fill="none"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 10V7C5.5 5.27609 6.18482 3.62279 7.40381 2.40381C8.62279 1.18482 10.2761 0.5 12 0.5C13.7239 0.5 15.3772 1.18482 16.5962 2.40381C17.8152 3.62279 18.5 5.27609 18.5 7V10H19C20.6569 10 22 11.3431 22 13V20C22 21.6569 20.6569 23 19 23H5C3.34315 23 2 21.6569 2 20V13C2 11.3431 3.34315 10 5 10H5.5ZM9.52513 4.52513C10.1815 3.86875 11.0717 3.5 12 3.5C12.9283 3.5 13.8185 3.86875 14.4749 4.52513C15.1313 5.1815 15.5 6.07174 15.5 7V10H8.5V7C8.5 6.07174 8.86875 5.1815 9.52513 4.52513Z" fill="currentColor"></path> </g></svg>	
														Password
													</span>
													<span class="c-btn-outline-sm" onclick="deleteNote('<%= note.id %>', event)">
														<svg class="w-4 h-4" viewBox="0 0 16 16" fill="currentColor"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path> </g></svg>
														Delete
													</span>
													<span class="c-btn-outline-sm" onclick="backupNote('<%= note.id %>')">
														<svg class="w-4 h-4" viewBox="0 0 24 24" fill="currentColor"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <g> <path fill="none" d="M0 0h24v24H0z"></path> <path d="M4 3h16l2 4v13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.004L4 3zm9 11v-4h-2v4H8l4 4 4-4h-3zm6.764-7l-1-2H5.237l-1 2h15.527z"></path> </g> </g></svg>
														Backup
													</span>
													<span class="c-btn-outline-sm" onclick="downloadNote('<%= note.id %>')">
														<svg class="w-4 h-4"  fill="currentColor" viewBox="0 0 24 24"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g><path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"></path></g></svg>
														Download
													</span>
												</td>
											</tr>
										<% }) %>
										</tbody>
									</table>
								</div>
							</div>
							<div class="c-tab-content">
								<h2 class="flex items-center justify-center gap-1 text-xl border-2 border-dashed border-gray-400 p-1 my-4">
									<svg class="w-6 h-6" viewBox="0 0 24 24" fill="currentColor"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <g> <path fill="none" d="M0 0h24v24H0z"></path> <path d="M4 3h16l2 4v13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.004L4 3zm9 11v-4h-2v4H8l4 4 4-4h-3zm6.764-7l-1-2H5.237l-1 2h15.527z"></path> </g> </g></svg>
									All notes your backup
								</h2>
								<div class="overflow-y-auto border-2 border-solid border-gray-300 rounded">
									<table id="notes-tb" class="w-full table-auto bg-transparent text-center">
										<thead>
											<tr class="border-b-4 border-solid border-gray-400">
												<th class="px-4 py-2 text-base capitalize whitespace-nowrap">Unique ID</th>
												<th class="px-4 py-2 text-base capitalize whitespace-nowrap">Last backup</th>
												<th class="px-4 py-2 text-base capitalize whitespace-nowrap">Actions</th>
											</tr>
										</thead>
										<tbody>
										<% backupNotes?.forEach((note, index)=>{ %>
											<tr class="<%= index % 2 === 0 ? 'bg-gray-200' : '' %>">
												<td><%= note.id %></td>
												<td><%= note.lastUpdated %></td>
												<td class="p-2">
													<a class="c-btn-outline-sm" href="/user-backup/<%= note.id %>" target="_blank">
														<svg class="w-4 h-4" viewBox="0 0 24 24" fill="none"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <path d="M20.2929 9.70708C20.5789 9.99307 21.009 10.0786 21.3827 9.92385C21.7564 9.76907 22 9.40443 22 8.99997V2.99997C22 2.44768 21.5523 1.99997 21 1.99997H15C14.5955 1.99997 14.2309 2.24361 14.0761 2.61729C13.9213 2.99096 14.0069 3.42108 14.2929 3.70708L16.2322 5.64641L9.58574 12.2929C9.19522 12.6834 9.19522 13.3166 9.58574 13.7071L10.2928 14.4142C10.6834 14.8048 11.3165 14.8048 11.7071 14.4142L18.3536 7.76774L20.2929 9.70708Z" fill="currentColor"></path> <path d="M4.5 8.00006C4.5 7.72392 4.72386 7.50006 5 7.50006H10.0625C10.6148 7.50006 11.0625 7.05234 11.0625 6.50006V5.50006C11.0625 4.94777 10.6148 4.50006 10.0625 4.50006H5C3.067 4.50006 1.5 6.06706 1.5 8.00006V19.0001C1.5 20.9331 3.067 22.5001 5 22.5001H16C17.933 22.5001 19.5 20.9331 19.5 19.0001V13.9376C19.5 13.3853 19.0523 12.9376 18.5 12.9376H17.5C16.9477 12.9376 16.5 13.3853 16.5 13.9376V19.0001C16.5 19.2762 16.2761 19.5001 16 19.5001H5C4.72386 19.5001 4.5 19.2762 4.5 19.0001V8.00006Z" fill="currentColor"></path> </g></svg>
														View
													</a>
													<span class="c-btn-outline-sm" onclick="deleteBackupNote('<%= note.id %>', event)">
														<svg class="w-4 h-4" viewBox="0 0 16 16" fill="currentColor"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path> </g></svg>
														Delete
													</span>
													<span class="c-btn-outline-sm" onclick="downloadBackupNote('<%= note.id %>')">
														<svg class="w-4 h-4"  fill="currentColor" viewBox="0 0 24 24"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g><path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"></path></g></svg>
														Download
													</span>
												</td>
											</tr>
										<% }) %>
										</tbody>
									</table>
								</div>
							</div>
							<div class="c-tab-content">
								<h2 class="flex items-center justify-center gap-1 text-xl border-2 border-dashed border-gray-400 p-1 my-4">
									<svg class="w-6 h-6"viewBox="0 0 24 24" fill="none"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <path d="M20.1 9.2214C18.29 9.2214 17.55 7.9414 18.45 6.3714C18.97 5.4614 18.66 4.3014 17.75 3.7814L16.02 2.7914C15.23 2.3214 14.21 2.6014 13.74 3.3914L13.63 3.5814C12.73 5.1514 11.25 5.1514 10.34 3.5814L10.23 3.3914C9.78 2.6014 8.76 2.3214 7.97 2.7914L6.24 3.7814C5.33 4.3014 5.02 5.4714 5.54 6.3814C6.45 7.9414 5.71 9.2214 3.9 9.2214C2.86 9.2214 2 10.0714 2 11.1214V12.8814C2 13.9214 2.85 14.7814 3.9 14.7814C5.71 14.7814 6.45 16.0614 5.54 17.6314C5.02 18.5414 5.33 19.7014 6.24 20.2214L7.97 21.2114C8.76 21.6814 9.78 21.4014 10.25 20.6114L10.36 20.4214C11.26 18.8514 12.74 18.8514 13.65 20.4214L13.76 20.6114C14.23 21.4014 15.25 21.6814 16.04 21.2114L17.77 20.2214C18.68 19.7014 18.99 18.5314 18.47 17.6314C17.56 16.0614 18.3 14.7814 20.11 14.7814C21.15 14.7814 22.01 13.9314 22.01 12.8814V11.1214C22 10.0814 21.15 9.2214 20.1 9.2214ZM12 15.2514C10.21 15.2514 8.75 13.7914 8.75 12.0014C8.75 10.2114 10.21 8.7514 12 8.7514C13.79 8.7514 15.25 10.2114 15.25 12.0014C15.25 13.7914 13.79 15.2514 12 15.2514Z" fill="currentColor"></path> </g></svg>
									Account Setting
								</h2>
								<div class="grid grid-cols-1 md:grid-cols-2 gap-3 grid-flow-row">
									<!-- Info Card -->
									<div class="border-solid border-2 border-gray-300 rounded order-1 md:order-1">
										<div class="flex flex-col items-center gap-2 py-4">
											<div class="relative group">
												<img src="https://i.imgur.com/iNsPoYP.jpg" alt="avatar" class="w-32 rounded-lg shadow-md">
												<label class="absolute top-1 right-1 cursor-pointer hidden group-hover:block">
													<svg class="w-6 h-6 text-teal-600" viewBox="0 0 24 24" fill="currentColor"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g fill="currentColor" fill-rule="nonzero"> <path d="M21.3306,11.6695 C22.2232,12.5621 22.2232,14.0093 21.3306,14.9019 L15.4282,20.8043 C15.084,21.1485 14.6528,21.3926 14.1807,21.5106 L12.35,21.9683 C11.5538,22.1674 10.8327,21.4462 11.0317,20.6501 L11.4894,18.8194 C11.6075,18.3472 11.8516,17.916 12.1957,17.5719 L18.0981,11.6695 C18.9908,10.7768 20.438,10.7768 21.3306,11.6695 Z M12.432,13.6399 L12.5254,13.7179 L13.5902,14.7632 L11.4887,16.8648 C11.0164,17.3371 10.6813,17.9288 10.5193,18.5768 L10.0616,20.4075 C10.0113,20.6088 9.99166,20.8075 9.99888,21 L6.25,21 C5.62551,21 5.04216,20.8239 4.54692,20.5186 L11.4746,13.7179 L11.5582,13.6469 C11.8174,13.4576 12.1705,13.4552 12.432,13.6399 Z M19.2469143,12.6540339 L19.1588,12.7301 L13.2564,18.6325 C13.13488,18.75402 13.041584,18.90018 12.9824512,19.060484 L12.9446,19.1832 L12.6539,20.3462 L13.8169,20.0554 C13.98362,20.01372 14.138756,19.936456 14.2719144,19.8294448 L14.3675,19.7437 L20.2699,13.8412 C20.5768,13.5344 20.5768,13.0369 20.2699,12.7301 C19.9909909,12.4511909 19.5544785,12.4258355 19.2469143,12.6540339 Z M17.75,3 C19.4830069,3 20.8992442,4.35645051 20.9948551,6.06557565 L21,6.25 L21,10.261 C19.8663789,9.77963263 18.5173562,9.96411668 17.5488859,10.8145031 L17.3911,10.9624 L14.6509,13.7025 L13.5762,12.6475 L13.4477,12.5306 C12.6612611,11.8682611 11.5285574,11.8296806 10.7017913,12.4150268 L10.5592,12.5248 L10.4238,12.6475 L3.4852,19.4592 C3.2160325,19.024675 3.04642687,18.5220859 3.00823121,17.9831201 L3,17.75 L3,6.25 C3,4.51696414 4.35645051,3.10075377 6.06557565,3.00514477 L6.25,3 L17.75,3 Z M15.7521,6 C14.5083,6 13.5,7.00831 13.5,8.25212 C13.5,9.49592 14.5083,10.5042 15.7521,10.5042 C16.9959,10.5042 18.0042,9.49592 18.0042,8.25212 C18.0042,7.00831 16.9959,6 15.7521,6 Z M15.7521,7.5 C16.1675,7.5 16.5042,7.83673 16.5042,8.25212 C16.5042,8.6675 16.1675,9.00423 15.7521,9.00423 C15.3367,9.00423 15,8.6675 15,8.25212 C15,7.83673 15.3367,7.5 15.7521,7.5 Z"> </path> </g> </g> </g></svg>
													<input class="hidden" type="file" accept="image/jpg, image/jpeg, image/png, image/gif, image/webp">
												</label>
											</div>
											<h3 class="text-2xl font-bold">quocthinh</h3>
											<p class="text-center"><b>Registered On</b>: 2023-08-03 04:35 AM</p>
										</div>
									</div>
									<!-- General Info -->
									<div class="border-solid border-2 border-gray-300 rounded order-2 md:order-2">
										<div class="p-3">
											<h3 class="font-bold text-lg uppercase">General Info</h3>
											<hr class="my-3">
											<form action="" method="post" class="flex flex-col gap-3">
												<div class="flex flex-col gap-1 hover:text-teal-600">
													<label class="font-medium" for="email">Email</label>
													<input class="c-input" id="email" name="email" type="email">
												</div>
												<div class="flex flex-col gap-1 hover:text-teal-600">
													<label class="font-medium" for="username">Username</label>
													<input class="c-input" id="username" name="username" type="text" readonly disabled>
												</div>
												<div class="flex justify-between items-center">
													<input class="c-btn" type="submit" value="Update Information">
												</div>
											</form>
										</div>
									</div>
									<!-- Change Password -->
									<div class="border-solid border-2 border-gray-300 rounded order-3 md:order-4 h-fit">
										<div class="p-3">
											<h3 class="font-bold text-lg uppercase">Change Password</h3>
											<hr class="my-3">
											<form action="" method="post" class="flex flex-col gap-3">
												<div class="flex flex-col gap-1 hover:text-teal-600">
													<label class="font-medium" for="password">Password</label>
													<input class="c-input" id="password" name="password" type="password">
												</div>
												<div class="flex flex-col gap-1 hover:text-teal-600">
													<label class="font-medium" for="cf-password">Confirm Password</label>
													<input class="c-input" id="cf-password" name="cf-password" type="password">
												</div>
												<div class="flex justify-between items-center">
													<input class="c-btn" type="submit" value="Update Password">
												</div>
											</form>
										</div>
									</div>
									<!-- Sessions -->
									<div class="border-solid border-2 border-gray-300 rounded order-4 md:order-3">
										<div class="p-3">
											<h3 class="font-bold text-lg uppercase">Sessions</h3>
											<hr class="my-3">
											<ul class="flex flex-col gap-1">
											<% sessions?.forEach((session)=>{ %>
												<li class="border-dashed border-2 border-gray-400">
													<div class="flex items-center gap-2 px-2 py-1">
														<%- DeviceIcons[session.client.deviceType] %>
														<div class="flex-grow">
															<%- session.isThisSession ? '<p class="text-sm text-teal-600 font-bold">This Session</p>' : '' %>
															<p><%= `${session.client.ip} - ${session.client.location}` %></p>
															<p><%= `${session.client.browser} on ${session.client.platform}` %></p>
														</div>
														<button class="c-btn-outline" onclick="revokeSession('<%= session.sid %>', event)">
															<svg class="w-4 h-4" viewBox="0 0 24 24" fill="none"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <path fill-rule="evenodd" clip-rule="evenodd" d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12ZM7.29289 16.7071C6.90237 16.3166 6.90237 15.6834 7.29289 15.2929L10.5858 12L7.29289 8.70711C6.90237 8.31658 6.90237 7.68342 7.29289 7.29289C7.68342 6.90237 8.31658 6.90237 8.70711 7.29289L12 10.5858L15.2929 7.29289C15.6834 6.90237 16.3166 6.90237 16.7071 7.29289C17.0976 7.68342 17.0976 8.31658 16.7071 8.70711L13.4142 12L16.7071 15.2929C17.0976 15.6834 17.0976 16.3166 16.7071 16.7071C16.3166 17.0976 15.6834 17.0976 15.2929 16.7071L12 13.4142L8.70711 16.7071C8.31658 17.0976 7.68342 17.0976 7.29289 16.7071Z" fill="currentColor"></path> </g></svg>
															Revoke
														</button>
													</div>
												</li>
											<% }) %>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<!-- Modal Password Options -->
				<div id="modal_password">
					<div class="modal_popup hidden min-w-[300px] z-10 bg-gray-100 fixed top-1/3 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded shadow drop-shadow px-4 py-2">
						<!-- header -->
						<div class="flex justify-between">
							<h3 class="text-base">Password Options</h3>
							<span class="modal_close c-btn-sm">&times;</span>
						</div>
						<!-- body -->
						<hr class="my-3">
						<div>
							<!-- Password no set -->
							<input class="c-input password-input" placeholder="Password" type="text">
							<!-- Password set -->
							<div class="flex justify-evenly">
								<button class="c-btn remove-pass-btn">
									<svg class="w-4 h-4" viewBox="0 0 24 24" fill="none"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5"></circle> <path d="M15 12H9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path> </g></svg>
									Remove Password
								</button>
							</div>
						</div>
						<hr class="my-3">
						<!-- footer -->
						<div class="flex justify-between">
							<button class="modal_close c-btn-outline">Cancel</button>
							<button class="c-btn set-pass-btn">Set</button>
						</div>
					</div>
					<div class="modal_overplay modal_close hidden z-9 w-[100vw] h-[100vh] fixed top-0 left-0 bg-transparent"></div>
				</div>
			</div>
		</div>
		<script src="/js/app.js"></script>
		<script src="/js/account.js"></script>
	</body>
</html>
